body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 222, 176);
}


/* p {
    display: inline-block;
} */
.container {
    display: inline-block;
}


.ipad {
    margin-top: 20px;
    margin-left: 10%;
    width: 80%;
    height: 100%;
    /* display: flex; */
    /* justify-content: center; */
    align-items: center;
    background-color: #fff2d4; /* iPad frame color */
    border: 10px solid #d0966c; /* iPad frame border color */
    box-sizing: border-box;
    border-radius: 5px;
    padding: 20px;
}

.intro {
    text-align: center;
    font-size: 50px;
    font-family: monospace;  
    color: #ff6600;
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: 
        typing 2s steps(35),
        cursor .4s step-end infinite alternate;
}
@keyframes cursor {
    50% { border-color: transparent;}
}
@keyframes typing {
    from { width: 0;}
}

.orderDetail {
    text-align: center;
    font-family: monospace;
    font-size: 30px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    background-color: #dcc2a2;
    color: #903a00;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.starterInstruction {
    text-align: center;
    font-family: monospace;
    justify-content: center;
    color: #903a00;
    font-size: 20px;
    margin-left: 200px;
    display: inline-block;
}

.chefHands {
    position: fixed;
    text-align: center;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

/* .rotating-image {
    width: 100px; Adjust width as needed
    height: auto; Maintain aspect ratio
    margin: 0 10px; Adjust margin as needed
} */

.ingredientsOne {
    position: relative;
    display: flex;
    margin-left: 300px;
    
}
.draggable {
    cursor: pointer;
    z-index: +1;
}
.oil {
    padding: 0%;
    width: 10%;
    cursor: pointer;
    z-index: +2;
}
.shrimpHead {
    padding: 0%;
    width: 10%;
    cursor: pointer;
    z-index: +2;
}
.circle {
    position: absolute;
    margin-top: 210px;
    margin-left: 140px;
    width: 150px; /* Adjust as needed */
    height: 150px; /* Adjust as needed */
    background-color: blue; /* Adjust color as needed */
    border-radius: 50%; /* Makes it a circle */
    z-index: +1;
}
.leftStoveSceneOne {
    position: absolute;
    width: 50%;
}
.leftFireSceneOne {
    position: absolute;
    width: 50%;
}
.potSceneOne{
    margin-left: 380px;
    margin-top: -80px;
}
.afterPot {
    position: absolute;
    width: 50%;
    z-index: +1;
    display: none; 
    /* Initially hidden */
}
.water {
    position: absolute;
    width: 10%;
    margin-top: 20px;
    margin-left: 300px;
    z-index: +1;
    display: none; 
    /* Initially hidden */
}
.soup {
    position: absolute;
    width: 50%;
    display: none; 
    /* Initially hidden */
}
.instructionTo2 {
    position: absolute;
    font-size: large;
    font-family: monospace;
    color: #903a00;
    z-index: +1;
    margin-left: 300px;
    margin-top: 600px;
    display: none; 
}
.sceneOneStove {
    position: relative;
    align-items: center;
    width: 50%;
    margin-left: 380px;
    margin-top: 260px;
    z-index: -1;
}
#timer {
    position: relative;
    top: 20px;
    left: 20px;
    font-size: 18px;
}  








.ingredientsTwo {
    position: relative;
    display: flex;
    margin-left: 800px;
    
}
/* .draggable {
    cursor: pointer;
    z-index: +1;
} */
.oil2 {
    position: relative;
    padding: 0%;
    width: 20%;
    cursor: pointer;
    z-index: +2;
}
.garlic2 {
    position: relative;
    padding: 0%;
    width: 20%;
    cursor: pointer;
    z-index: +2;
}
.peanut2 {
    position: relative;
    padding: 0%;
    width: 20%;
    cursor: pointer;
    z-index: +2;
}
.shacha2 {
    position: relative;
    padding: 0%;
    width: 20%;
    cursor: pointer;
    z-index: +2;
}
.potScene2{
    margin-left: 380px;
    margin-top: -80px;
}
.leftStoveScene2 {
    position: absolute;
    width: 50%;
}
.leftFireScene2 {
    position: absolute;
    width: 50%;
}
.rightPot2{
    position: absolute;
    width: 50%;
}
.righFire2 {
    position: absolute;
    width: 50%;
}
.scene2Stove {
    position: relative;
    align-items: center;
    width: 50%;
    margin-left: 380px;
    margin-top: 260px;
    z-index: -1;
}
.soup2 {
    position: absolute;
    width: 50%;
    margin-left: 380px;
}
.fry2 {
    position: absolute;
    width: 50%;
    margin-left: 380px;
    display: none;
}
.shrimpSoup2 {
    position: absolute;
    width: 50%;
    margin-left: 380px;
    display: none;
}
.circle2 {
    position: absolute;
    margin-top: 20px;
    margin-left: 380px;
    width: 50px; /* Adjust as needed */
    height: 50px; /* Adjust as needed */
    background-color: #ff6600a5; /* Adjust color as needed */
    border-radius: 50%; /* Makes it a circle */
    
    z-index: +1;
}
.instructionTo3 {
    position: absolute;
    font-size: large;
    font-family: monospace;
    color: #903a00;
    z-index: +1;
    margin-left: 670px;
    margin-top: 600px;
    display: none; 
}





.ingredients3 {
    position: relative;
    display: flex;
    margin-left: 700px;
    
}

.noodle {
    position: relative;
    padding: 0%;
    width: 15%;
    cursor: pointer;
    z-index: +2;
}
.shrimp {
    position: relative;
    padding: 0%;
    width: 15%;
    cursor: pointer;
    z-index: +2;
}
.squid {
    position: relative;
    padding: 0%;
    width: 15%;
    cursor: pointer;
    z-index: +2;
}
.clam {
    position: relative;
    padding: 0%;
    width: 15%;
    cursor: pointer;
    z-index: +2;
}
.bokchoy {
    position: relative;
    padding: 0%;
    width: 15%;
    cursor: pointer;
    z-index: +2;
}

.potScene3{
    margin-left: 380px;
    margin-top: -80px;
}
.leftPot3 {
    position: absolute;
    width: 50%;
}
.leftFire3 {
    position: absolute;
    width: 50%;
}
.rightPot3{
    position: absolute;
    width: 50%;
}
.righFire3 {
    position: absolute;
    width: 50%;
}
.scene3Stove {
    position: relative;
    align-items: center;
    width: 50%;
    margin-left: 380px;
    margin-top: 260px;
    z-index: -1;
}
.shrimpSoup3 {
    position: absolute;
    width: 50%;
    margin-left: 380px;
}
.cooked {
    position: absolute;
    width: 50%;
    margin-left: 380px;
    display: none;
}
.instructionTo4 {
    position: absolute;
    font-size: large;
    font-family: monospace;
    color: #903a00;
    z-index: +1;
    margin-left: 670px;
    margin-top: 600px;
    display: none;
}


.bowl {

    position: relative;
    align-items: center;
    width: 90%;
    margin-top: -100px;
    margin-left: -240px;
    
}

.ending {
    position: relative;
    font-family: monospace;
    color: #ff6600;
    font-size: 36px;
    margin-left: 470px;
    margin-top: -300px;

}
